.welcome-page-main {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.games-div {
    width: 40%;
}

.players-div {
    width: 40%;
}

body {
    background-color: #15334D;
    color: white;
}