.welcome-page-main {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.user-welcome-div h1 {
    font-family: cursive;
}

.games-div {
    width: 40%;
}

.players-div {
    width: 40%;
}

body {
    background-color:rgb(47, 52, 56);
    color: white;
}

@media screen and (max-width: 600px) {
    .welcome-page-main input {
        width: 10em;
    }
}