.add-score-h2 {
    font-size: 1.2em;
}

.add-score-form input {
    display: block;
}

.scores-list-ul {
    width: 100%;
}

.player-li {
    width: 25%;
}

.score-li {
    margin-left: -4.2em;
    margin-right: 1.2em;
}

.players-ul {
    margin-left: -2em;
}

.add-score-form {
    text-align: left;
}

.add-score-form input {
    width: 8em;
}