.players-ul {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.players-ul-welcome li {
    background-color:  rgb(236, 230, 197);
    padding-bottom: .5em;
    color: black;
}

.players-ul-welcome li {
    width: 100%;
    margin-left: -1.3em;
    border-radius: 3em;
}